.para64 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para63 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para61 {
  margin:  0.0000in 0px 0.0783in 0px;
  min-height: 0.1945in;
}

.para59 {
  margin:  0.0000in 0px 0.0783in 0px;
  min-height: 0.1945in;
  text-align: center;
}

.para57 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0px 0.0000in 0px 0.7874in;
  text-indent: 0.0000in;
}

.para58 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: right;
  text-indent: 0.0000in;
}

.para56 {
  line-height: 120.0000%;
  margin:  0.1390in 0px 0.0835in 0px;
  text-align: right;
}

.para52 {
  margin:  0.0000in 0.3937in 0.1965in 0.3937in;
  text-indent: 0.0000in;
}

.para51 {
  margin:  0.1945in 0px 0.1945in 0px;
  text-align: right;
}

.para66 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para49 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
  text-align: right;
}

.para48 {
  background-color: transparent;
  margin:  0px 0.0000in 0px 0.2362in;
  text-indent: -0.2362in;
}

.para17 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.4925in;
  text-indent: 0.0000in;
}

.para50 {
  line-height: 120.0000%;
  margin:  0.0972in 0px 0.0835in 0px;
  text-align: right;
}

.para14 {
  line-height: 120.0000%;
  margin:  0.1390in 0px 0.0835in 0px;
}

.para13 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: center;
}

.para12 {
  margin:  0px 0px 0px 0px;
}

.para47 {
  margin:  0px 0.0000in 0px 0.5000in;
  text-indent: 0.0000in;
}

.para27 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para31 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-indent: 0.0000in;
}

.para32 {
  margin:  0.0000in 0px 0.0972in 0px;
}

.para2 {
  margin:  0.1083in 0px 0.0000in 0px;
  text-align: right;
}

.para18 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.5902in 0.0972in 0.0000in;
  text-indent: 0.0000in;
}

.para24 {
  margin:  0.0000in 0.3937in 0.1965in 0.3937in;
  text-indent: 0.0000in;
}

.para9 {
  margin:  0px 0.0000in 0px 0.2354in;
  text-indent: -0.2354in;
}

.para8 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.2362in;
  text-indent: -0.2362in;
}

.para4 {
  line-height: 120.0000%;
  margin:  0.0972in 0px 0.0835in 0px;
}

.para33 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: center;
}

.para1 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: right;
}

.para22 {
  margin:  0px 0px 0px 0px;
}

.para16 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para5 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para11 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.5902in 0.0972in 1.4571in;
  text-indent: 0.0000in;
}

.para6 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: right;
}

.para3 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para36 {
  line-height: 120.0000%;
  margin:  0px 0px 0px 0px;
}

.para45 {
  border: none;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para0 {
  line-height: 120.0000%;
  margin:  0.1390in 0px 0.0835in 0px;
  text-align: start;
}

.para10 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0972in 0.4925in;
  text-indent: 0.0000in;
}

.para55 {
  background-color: #ffffff;
  border: none;
  margin:  0.0000in 0.0000in 0.1665in 0.0000in;
  min-height: 0.0693in;
  text-indent: 0.0000in;
}

.para53 {
  margin:  0.0000in 0px 0.1945in 0px;
  text-align: right;
}

.para26 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para54 {
  background-color: transparent;
  border: none;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: right;
  text-indent: 0.0000in;
}

.para23 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: right;
}

.para62 {
  margin:  0px 0px 0px 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para25 {
  margin:  0px 0px 0px 0px;
  text-align: start;
}

.para21 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0783in 0px;
  text-align: start;
}

.para40 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.3154in;
  text-indent: -0.3154in;
}

.para19 {
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.para28 {
  line-height: 115.0000%;
  margin:  0.0972in 0px 0.0835in 0px;
}

.para29 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
}

.para34 {
  margin:  0px 0.0000in 0px 0.2354in;
  text-align: center;
  text-indent: -0.2354in;
}

.para60 {
  margin:  0.0000in 0px 0.0783in 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para15 {
  margin:  0.0000in 0px 0.0000in 0px;
}

.para7 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1083in 0px;
}

.para42 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
}

.para38 {
  margin:  0px 0px 0px 0px;
  min-height: 0.1945in;
  text-align: right;
}

.para35 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1181in 0px;
  text-align: right;
}

.para37 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.para39 {
  line-height: 120.0000%;
  margin:  0.0972in 0px 0.0835in 0px;
}

.para65 {
  margin:  0.1665in 0px 0.0835in 0px;
}

.para30 {
  margin:  0px 0px 0px 0px;
  text-align: right;
}

.para46 {
  border: none;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para20 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.5902in 0.0972in 0.0000in;
  text-align: center;
  text-indent: 0.0000in;
}

.para41 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0217in 0px;
}

.para43 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0398in 0px;
}

.para44 {
  border: none;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.span176 {
  background-color: transparent;
  color: #000000;
  font-effect: outline;
  font-family: 'Times new roman';
  font-size: 11.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration:  overline;
  text-shadow: 1px 1px 1px #666666;
  text-transform: none;
}

.span174 {
  font-family: 'Times new roman';
  font-size: 11.0000pt;
  font-weight: normal;
}

.span173 {
  background-color: transparent;
  font-family: 'Times new roman';
  font-size: 11.0000pt;
}

.span172 {
  font-family: 'Times new roman';
  font-size: 11.0000pt;
  font-weight: bold;
}

.span169 {
  background-color: transparent;
  color: #000000;
  font-effect: outline;
  font-family: 'Times new roman';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration:  overline;
  text-shadow: 1px 1px 1px #666666;
}

.span168 {
  background-color: transparent;
  color: #000000;
  font-effect: outline;
  font-family: 'Times new roman';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-decoration:  overline;
  text-shadow: 1px 1px 1px #666666;
}

.span167 {
  font-style: normal;
  font-weight: bold;
}

.span165 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  text-decoration:  underline;
}

.span164 {
  font-family: 'Liberation Serif';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span160 {
  color: #000080;
  font-style: normal;
  text-decoration:  underline;
}

.span155 {
  background-color: transparent;
  font-style: normal;
}

.span154 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span151 {
  font-effect: outline;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span150 {
  font-effect: outline;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span145 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span144 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span141 {
  font-family: 'Open sans';
  font-size: 8.0000pt;
}

.span140 {
  font-family: 'Open sans';
  font-size: 10.0000pt;
}

.span162 {
  font-family: 'Liberation Serif';
  font-size: 20.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span147 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span139 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span136 {
  background-color: transparent;
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span175 {
  background-color: transparent;
  color: #000000;
  font-effect: outline;
  font-family: 'Times new roman';
  font-size: 11.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration:  overline;
  text-shadow: 1px 1px 1px #666666;
}

.span132 {
  font-family: 'sans-serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span129 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span128 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-style: italic;
}

.span130 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span127 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
}

.span126 {
  color: #000000;
  font-style: normal;
  font-weight: normal;
}

.span124 {
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span135 {
  background-color: transparent;
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span123 {
  color: #000080;
  font-size: 12.0000pt;
  font-weight: normal;
  text-decoration:  underline;
}

.span122 {
  font-size: 12.0000pt;
  font-weight: bold;
}

.span149 {
  color: #000000;
  font-effect: outline;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span120 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span116 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
}

.span115 {
  color: #21409a;
  font-size: 10.0000pt;
}

.span114 {
  color: #21409a;
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span148 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span112 {
  color: #0d1f63;
  font-size: 10.0000pt;
}

.span121 {
  color: #0000ff;
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span110 {
  font-family: 'Liberation Serif';
  font-size: 20.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span109 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span166 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
  text-decoration:  underline;
}

.span108 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span107 {
  color: #0000ff;
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  text-decoration:  underline;
}

.span153 {
  color: #000000;
  font-effect: outline;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span106 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span105 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
}

.span103 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: normal;
}

.span99 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span98 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-weight: normal;
}

.span97 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span40 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span5 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span42 {
  font-family: 'Liberation Serif';
}

.span24 {
  color: #000000;
  font-style: italic;
  font-weight: normal;
}

.span134 {
  background-color: transparent;
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span39 {
  background-color: transparent;
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span45 {
  font-family: 'Liberation Serif';
  font-style: italic;
  font-weight: normal;
}

.span158 {
  font-size: 10.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span7 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span102 {
  color: #000000;
  font-family: 'Liberation Serif';
}

.span46 {
  font-family: 'Times1';
  font-size: 12.0000pt;
}

.span29 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span62 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-weight: normal;
}

.span28 {
  color: #000000;
  font-weight: normal;
}

.span31 {
  color: #000080;
  font-style: italic;
  text-decoration:  underline;
}

.span26 {
  color: #000000;
}

.span25 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span23 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span161 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span133 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span9 {
  font-size: 10.0000pt;
}

.span33 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span19 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span41 {
  font-family: 'Liberation Serif';
  font-style: italic;
}

.span8 {
  font-size: 12.0000pt;
}

.span92 {
  background-color: transparent;
  font-size: 12.0000pt;
}

.span1 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span159 {
  color: #000080;
  font-size: 10.0000pt;
  font-style: normal;
  font-weight: normal;
  text-decoration:  underline;
}

.span0 {
  font-family: 'Liberation Sans';
  font-size: 40.0000pt;
  font-weight: bold;
}

.span32 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span27 {
  color: #000000;
  font-style: italic;
}

.span43 {
  font-family: 'Liberation Serif';
  font-style: normal;
}

.span30 {
  color: #ce181e;
}

.span69 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span177 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration:  underline;
  text-transform: none;
}

.span163 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span75 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 0.65em;
  position: relative;
  top: 0.33em;
  vertical-align: baseline;
}

.span66 {
  font-size: 12.0000pt;
  font-style: italic;
}

.span82 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span87 {
  color: #000000;
  font-style: italic;
  text-decoration:  underline;
}

.span17 {
  font-family: 'Liberation Sans';
  font-size: 28.0000pt;
  font-weight: bold;
}

.span16 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span119 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span2 {
}

.span101 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span11 {
  font-weight: normal;
}

.span137 {
  background-color: transparent;
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span55 {
  color: #ce181e;
  font-weight: bold;
}

.span21 {
  color: #000080;
  font-size: 10.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span36 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span72 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span85 {
  font-family: 'Times New Roman';
  font-style: italic;
}

.span131 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span47 {
  font-family: 'Times1';
  font-size: 14.0000pt;
}

.span15 {
  font-size: 11.0000pt;
}

.span14 {
  font-style: italic;
  font-weight: normal;
}

.span113 {
  color: #0d1f63;
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span12 {
  font-size: 0.8em;
  font-weight: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span22 {
  color: #000080;
  text-decoration:  underline;
}

.span18 {
  color: #000080;
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span38 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span95 {
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
}

.span20 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span50 {
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span37 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span53 {
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span157 {
  background-color: transparent;
  font-style: italic;
}

.span49 {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: normal;
}

.span6 {
  font-style: italic;
}

.span51 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span156 {
  background-color: transparent;
}

.span73 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 0.64em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span117 {
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span54 {
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span143 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span84 {
  font-family: 'Times New Roman';
}

.span44 {
  font-family: 'Liberation Serif';
  font-weight: normal;
}

.span56 {
  font-style: italic;
  font-weight: bold;
}

.span57 {
  font-size: 12.0000pt;
  font-weight: normal;
}

.span58 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span3 {
  color: #000080;
  font-weight: bold;
  text-decoration:  underline;
}

.span59 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span61 {
  font-size: 10.0000pt;
  font-style: normal;
}

.span104 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: italic;
}

.span4 {
  font-weight: bold;
}

.span63 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 16.0000pt;
  font-weight: bold;
}

.span125 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span118 {
  background-color: #ffffff;
  color: #000000;
  font-effect: outline;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span64 {
  font-family: 'Liberation Serif';
  font-size: 22.0000pt;
  font-weight: bold;
}

.span81 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
}

.span60 {
  color: #0000ff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span65 {
  font-weight: bold;
  text-decoration:  underline;
}

.span80 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
}

.span67 {
  font-size: 12.0000pt;
  font-style: normal;
}

.span152 {
  font-effect: outline;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span48 {
  color: #000000;
  font-style: normal;
}

.span68 {
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: italic;
}

.span10 {
  font-size: 10.0000pt;
  font-style: italic;
}

.span70 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span52 {
  font-size: 16.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span74 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 0.64em;
  position: relative;
  top: 0.33em;
  vertical-align: baseline;
}

.span142 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
}

.span76 {
  background-color: #ffffff;
  font-family: 'Liberation Sans';
  font-size: 10.0000pt;
}

.span138 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span111 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span35 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
}

.span77 {
  background-color: #ffffff;
  font-family: 'Liberation Sans';
  font-size: 10.0000pt;
  font-style: italic;
}

.span78 {
  background-color: #ffffff;
  color: #ff0000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span79 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 0.64em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span100 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-style: italic;
}

.span83 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span170 {
  color: #000080;
  font-family: 'Times new roman';
  font-size: 11.0000pt;
  text-decoration:  underline;
}

.span86 {
  font-family: 'Liberation Serif';
  font-weight: 250;
}

.span13 {
  font-style: normal;
}

.span71 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span89 {
  font-size: 9.0000pt;
}

.span90 {
  font-size: 9.0000pt;
  font-style: italic;
}

.span34 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span91 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span171 {
  font-family: 'Times new roman';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span146 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
}

.span93 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span88 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-style: italic;
  text-decoration:  underline;
}

.span94 {
  font-style: normal;
  font-weight: normal;
}

.span96 {
  background-color: transparent;
  font-size: 10.0000pt;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}

.frame5 {
  width: 2.7780in;
}

.frame1 {
  width: 3.2291in;
}

.frame0 {
  float: left;
  width: 6.5228in;
}

.frame7 {
  float: left;
  width: 6.1000in;
}

.frame2 {
  float: left;
  width: 6.6929in;
}

.frame6 {
  width: 1.8307in;
}

.frame3 {
  width: 4.5862in;
}

.frame4 {
  width: 4.5626in;
}

body.fullpage {
   margin: 0;
   padding: 0;
}
section.cover {
   display: block;
   text-align: center;
}