.para64 {
  background-color: #ffffff;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para63 {
  margin:  0px 0px 0px 0px;
  min-height: 0.1945in;
}

.para61 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para27 {
  margin:  0.0398in 0.0000in 0.0398in 0.0000in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para39 {
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-indent: 0.2957in;
}

.para20 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para50 {
  margin:  0px 0.0000in 0px 0.0000in;
  text-indent: 0.0000in;
}

.para21 {
  margin:  0.0000in 0.0000in 0.0000in 2.9535in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para19 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: right;
}

.para17 {
  margin:  0px 0px 0px 0px;
  text-align: right;
}

.para28 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: center;
}

.para16 {
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.para14 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: start;
}

.para13 {
  margin:  0.1654in 0px 0.0000in 0px;
  text-align: right;
}

.para1 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: justify;
}
.para-list {
  display: list-item;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
}

.para15 {
  margin:  0.1654in 0px 0.0000in 0px;
}

.para12 {
  margin:  0.1665in 0px 0.0835in 0px;
  text-align: center;
}

.para22 {
  margin:  0.0000in 0px 0.1390in 0px;
  text-align: justify;
}

.para24 {
  margin:  0px 0px 0px 0px;
  text-align: justify;
}

.para36 {
  margin:  0.0000in 0.0000in 0.0000in 0.2354in;
  text-align: justify;
  text-indent: -0.2354in;
}

.para5 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
}

.para62 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0783in 0px;
  min-height: 0.1945in;
  text-align: center;
}

.para3 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
  text-align: justify;
}

.para53 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: right;
}

.para8 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: center;
}

.para38 {
  margin:  0.0000in 0.3937in 0.1965in 0.3937in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para58 {
  margin:  0.0000in 0px 0.0783in 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para6 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para48 {
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-align: right;
  text-indent: 0.0000in;
}

.para0 {
  margin:  0px 0px 0px 0px;
  text-align: start;
}

.para18 {
  margin:  0.0000in 0px 0.1929in 0px;
}

.para59 {
  margin:  0px 0px 0px 0px;
  min-height: 0.1945in;
}

.para7 {
  /*line-height: 115.0000%;*/
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para60 {
  margin:  0.0000in 0px 0.0000in 0px;
  min-height: 0.1945in;
  text-align: start;
}

.para42 {
  margin:  0.0000in 0.0000in 0.0000in 0.1972in;
  text-indent: 0.0000in;
}

.para25 {
  margin:  0.0398in 0px 0.0398in 0px;
  text-align: center;
}

.para9 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para2 {
  margin:  0px 0px 0px 0px;
}

.para11 {
  line-height: 130.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para4 {
  margin:  0.0000in 0.0000in 0.0000in 0.2354in;
  text-align: start;
  text-indent: -0.2354in;
}

.para31 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: justify;
}

.para43 {
  line-height: 108.0000%;
  margin:  0.0000in 0px 0.1110in 0px;
  text-align: start;
}

.para40 {
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-indent: 0.0000in;
}

.para10 {
  margin:  0.1665in 0px 0.0000in 0px;
  text-align: start;
}

.para29 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: right;
}

.para30 {
  margin:  0.0398in 0px 0.0398in 0px;
  text-align: justify;
}

.para37 {
  background-color: #ffffff;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: justify;
}

.para32 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: right;
}

.para51 {
  margin:  0px 0.0000in 0px 0.0000in;
  text-align: right;
  text-indent: 0.0000in;
}

.para54 {
  background-color: #ffffff;
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.para33 {
  line-height: 120.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para23 {
  line-height: 115.0000%;
  margin:  0px 0px 0px 0px;
  text-align: right;
}

.para34 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
  text-align: justify;
}

.para44 {
  margin:  0.0000in 0px 0.0000in 0px;
}

.para26 {
  margin:  0.0398in 0px 0.0398in 0px;
  text-align: right;
}

.para47 {
  margin:  0.0000in 0.0000in 0.1110in 0.2354in;
  text-align: start;
  text-indent: -0.2354in;
}

.para35 {
  line-height: 120.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-indent: 0.0000in;
}

.para41 {
  margin:  0.0000in 0.0000in 0.0000in 0.1972in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para45 {
  margin:  0.0000in 0.0000in 0.0000in 0.0000in;
  text-indent: 0.5000in;
}

.para46 {
  background-color: transparent;
  line-height: 130.0000%;
  margin:  0.2000in 0.0000in 0.2000in 0.0000in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para49 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1965in 0px;
  text-align: justify;
}

.para57 {
  background-color: #ffffff;
  margin:  0.0000in 0px 0.0783in 0px;
  text-align: justify;
}

.para52 {
  background-color: transparent;
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.1965in 0.0000in;
  text-align: justify;
  text-indent: 0.0000in;
}

.para55 {
  background-color: #ffffff;
  margin:  0px 0px 0px 0px;
  text-align: justify;
}

.para56 {
  background-color: #ffffff;
  margin:  0px 0px 0px 0px;
  text-align: right;
}

.span234 {
  font-size: 12.0000pt;
  font-weight: normal;
}

.span233 {
  color: #000080;
  font-size: 11.0000pt;
}

.span229 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span228 {
  background-color: transparent;
  font-style: italic;
}

.span225 {
  font-family: 'Liberation Serif';
  font-size: 24.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span224 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span223 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span222 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-style: normal;
}

.span220 {
  background-color: transparent;
  font-size: 12.0000pt;
}

.span217 {
  font-size: 12.0000pt;
  font-style: italic;
}

.span216 {
  font-size: 12.0000pt;
  font-weight: bold;
}

.span214 {
  color: #000000;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span213 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-style: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span211 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span209 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span207 {
  color: #999999;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span226 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span205 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-weight: bold;
}

.span204 {
  color: #000000;
}

.span203 {
  color: #ff0000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span200 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span198 {
  color: #2a6099;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span197 {
  color: #000080;
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span196 {
  color: #000000;
  font-size: 11.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span195 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span193 {
  font-family: 'Liberation Serif';
  font-size: 22.0000pt;
  font-weight: bold;
}

.span190 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span202 {
  color: #2a6099;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span186 {
  color: #000000;
  font-size: 10.0000pt;
  font-style: italic;
}

.span185 {
  color: #000000;
  font-size: 10.0000pt;
}

.span191 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  text-decoration:  underline;
}

.span184 {
  color: #000080;
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span183 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span181 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-style: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span176 {
  color: #000080;
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span180 {
  color: #000080;
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span173 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span170 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  text-decoration:  underline;
}

.span167 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 13.0000pt;
  text-decoration:  underline;
}

.span165 {
  font-size: 11.0000pt;
  font-style: normal;
}

.span164 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  text-decoration:  underline;
}

.span163 {
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: normal;
}

.span238 {
  font-size: 11.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span162 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span160 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span159 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 24.0000pt;
  font-weight: bold;
}

.span157 {
  color: #000000;
  font-family: 'Arial';
  font-size: 12.0000pt;
}

.span155 {
  font-family: 'Liberation Serif';
  font-style: italic;
  font-weight: bold;
}

.span235 {
  font-size: 11.0000pt;
  font-weight: bold;
}

.span154 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
  text-decoration:  underline;
}

.span201 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span179 {
  color: #000080;
  font-size: 12.0000pt;
  font-weight: normal;
}

.span153 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span151 {
  background-color: #ffffff;
  font-size: 10.0000pt;
  font-weight: normal;
}

.span150 {
  background-color: #ffffff;
  color: #333333;
  font-size: 12.0000pt;
  font-style: italic;
}

.span149 {
  background-color: #ffffff;
  color: #333333;
  font-size: 12.0000pt;
}

.span146 {
  background-color: #ffffff;
  color: #333333;
  font-size: 10.0000pt;
  font-style: italic;
}

.span145 {
  background-color: #ffffff;
  color: #333333;
  font-size: 10.0000pt;
}

.span152 {
  background-color: #ffffff;
  color: #000000;
  font-size: 10.0000pt;
  font-weight: normal;
}

.span144 {
  color: #1d2228;
  font-size: 12.0000pt;
}

.span141 {
  color: #000080;
  font-size: 10.0000pt;
}

.span140 {
  background-color: #ffffff;
  color: #000000;
  font-size: 12.0000pt;
  font-style: normal;
}

.span147 {
  background-color: #ffffff;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span139 {
  color: #0000ff;
  font-size: 10.0000pt;
}

.span136 {
  background-color: #ffffff;
  font-size: 10.0000pt;
  font-style: italic;
}

.span134 {
  background-color: #ffffff;
  color: #000000;
  font-size: 12.0000pt;
}

.span133 {
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span132 {
  font-style: italic;
}

.span128 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span54 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0110in;
}

.span50 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0181in;
}

.span94 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span129 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  text-decoration:  underline;
}

.span46 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0075in;
}

.span77 {
  color: #1d1d1b;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span4 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span219 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-style: italic;
}

.span74 {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span42 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0118in;
}

.span60 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: 0.0016in;
}

.span41 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0110in;
}

.span232 {
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}

.span53 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span107 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: italic;
}

.span187 {
  font-style: normal;
}

.span32 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span52 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0173in;
}

.span135 {
  background-color: #ffffff;
  font-size: 10.0000pt;
}

.span19 {
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-style: normal;
  font-weight: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span221 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  text-decoration:  underline;
}

.span7 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span31 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span208 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span35 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span56 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0071in;
}

.span6 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span29 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 40.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span63 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0047in;
}

.span12 {
  font-family: 'Liberation Serif';
  font-size: 15.0000pt;
  font-weight: bold;
}

.span199 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span161 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 13.0000pt;
  font-weight: bold;
}

.span13 {
  font-family: 'Liberation Serif';
  font-style: italic;
}

.span38 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span3 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span11 {
  font-family: 'Liberation Serif';
}

.span130 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span28 {
  background-color: #ffffff;
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span124 {
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-weight: bold;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span51 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0028in;
}

.span58 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0055in;
}

.span10 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span83 {
  background-color: #ffffff;
  color: #201f1e;
  font-size: 12.0000pt;
  font-weight: normal;
}

.span106 {
  color: #000000;
  font-family: 'Liberation Serif';
}

.span69 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span227 {
  background-color: transparent;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span9 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span40 {
  color: #00000a;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span194 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span5 {
  font-weight: bold;
}

.span75 {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span121 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span27 {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span218 {
  background-color: transparent;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span57 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0063in;
}

.span84 {
  background-color: #ffffff;
  color: #201f1e;
  font-size: 10.0000pt;
}

.span45 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0047in;
}

.span192 {
  font-style: normal;
  font-weight: normal;
}

.span131 {
  font-size: 0.8em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span59 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0165in;
}

.span21 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
}

.span62 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0083in;
}

.span158 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span122 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span14 {
  font-family: 'Liberation Serif';
  font-style: normal;
}

.span17 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span177 {
  color: #000080;
  font-size: 12.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span23 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span90 {
  font-size: 10.0000pt;
  font-style: italic;
}

.span22 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span26 {
  background-color: #ffffff;
  font-family: 'Liberation Serif';
  font-size: 16.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span110 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: italic;
}

.span1 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span39 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span174 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span55 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0035in;
}

.span210 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span72 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-style: normal;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span206 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span34 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span89 {
  font-size: 11.0000pt;
}

.span104 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span172 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  text-decoration:  underline;
}

.span119 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: normal;
}

.span239 {
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
}

.span18 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span36 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span169 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: italic;
}

.span33 {
  color: #000000;
  font-size: 12.0000pt;
}

.span79 {
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span25 {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span73 {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span100 {
  color: #222222;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span24 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span212 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
}

.span92 {
  font-weight: normal;
}

.span48 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0016in;
}

.span87 {
  background-color: #ffffff;
  color: #201f1e;
  font-size: 12.0000pt;
  font-style: italic;
}

.span178 {
  color: #000080;
  font-size: 12.0000pt;
  font-weight: normal;
  text-decoration:  underline;
}

.span20 {
  font-family: 'Liberation Serif';
  font-size: 15.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span16 {
  font-family: 'Liberation Serif';
  font-style: italic;
  font-weight: normal;
}

.span43 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0020in;
}

.span80 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span61 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0091in;
}

.span65 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
}

.span68 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: normal;
}

.span86 {
  background-color: #ffffff;
  color: #201f1e;
  font-size: 12.0000pt;
}

.span236 {
  background-color: transparent;
  font-size: 11.0000pt;
}

.span215 {
  color: #000080;
  text-decoration:  underline;
}

.span30 {
  font-family: 'Liberation Serif';
  font-size: 24.0000pt;
  font-weight: bold;
}

.span66 {
  color: #00000a;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span189 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
}

.span67 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
}

.span230 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
}

.span97 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
}

.span98 {
  color: #000081;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span49 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: normal;
  letter-spacing: -0.0020in;
}

.span70 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: 1px 1px 1px #666666;
}

.span108 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-style: italic;
}

.span76 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span182 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: normal;
  text-decoration:  underline;
}

.span8 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span78 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span0 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-weight: bold;
}

.span81 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span137 {
  background-color: #ffffff;
  color: #000000;
  font-size: 12.0000pt;
  font-style: italic;
}

.span82 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
}

.span88 {
  font-size: 10.0000pt;
}

.span85 {
  background-color: #ffffff;
  color: #201f1e;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span103 {
  background-color: transparent;
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span148 {
  color: #000000;
  font-size: 12.0000pt;
  font-style: italic;
}

.span37 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span2 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  text-decoration:  underline;
}

.span91 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span93 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-weight: normal;
}

.span166 {
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: italic;
}

.span95 {
  font-family: 'Liberation Serif';
  font-size: 0.65em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span171 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span120 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-style: normal;
}

.span156 {
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span96 {
  font-family: 'Calibri2';
  font-size: 8.0000pt;
  font-weight: normal;
}

.span47 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0071in;
}

.span99 {
  color: #222222;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span143 {
  background-color: #ffffff;
  color: #000000;
  font-size: 10.0000pt;
}

.span15 {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: normal;
}

.span102 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span101 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span105 {
  font-size: 11.0000pt;
  font-weight: normal;
}

.span109 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
}

.span111 {
  color: #000000;
  font-family: 'sans-serif';
  font-size: 0.58em;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span71 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: normal;
}

.span125 {
  font-family: 'Liberation Serif';
  font-size: 0.58em;
  font-weight: bold;
  position: relative;
  top: -0.33em;
  vertical-align: baseline;
}

.span188 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: bold;
}

.span138 {
  background-color: #ffffff;
  font-size: 12.0000pt;
}

.span112 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-style: normal;
}

.span237 {
  font-size: 11.0000pt;
  font-weight: normal;
}

.span64 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.0047in;
}

.span113 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span114 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
  font-style: normal;
}

.span231 {
  font-size: 12.0000pt;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
}

.span168 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
}

.span115 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 11.0000pt;
}

.span175 {
  font-size: 12.0000pt;
}

.span117 {
  color: #000080;
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
}

.span116 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span118 {
  font-family: 'Liberation Serif';
  font-size: 9.0000pt;
  font-style: normal;
}

.span142 {
  background-color: #ffffff;
  color: #000000;
  font-size: 12.0000pt;
  font-weight: bold;
}

.span123 {
  font-family: 'Liberation Serif';
  font-size: 10.0000pt;
  font-style: italic;
  text-decoration:  underline;
}

.span44 {
  color: #000000;
  font-family: 'Liberation Serif';
  font-size: 12.0000pt;
  letter-spacing: -0.0055in;
}

.span126 {
  font-family: 'Liberation Serif';
  font-size: 40.0000pt;
  font-style: normal;
  font-weight: bold;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
  font-family: 'Liberation Serif';
}

.cellTable1 {
  border: 0.05pt ridge #000000;
  vertical-align: top;
  width: 5.39803in;
}

.cellTable0 {
  border: 0.05pt solid #000000;
  vertical-align: top;
  width: 100%;
}

.table1 {
  width: 5.3980in;
}

.table0 {
  width: 6.6929in;
}

.frame0 {
  float: left;
  width: 1.9890in;
}
